/*-- HEADER WITH LOGO - SECONDARY PAGES. FIXES ITS POSITION ON TOP AND PLACES THE SLIDER PERFECTLY INDERNEATH --*/
#rec1615413623 {
  position: fixed;     /* lock it relative to the viewport */
  top: 0;              /* stick to the very top */
  left: 0;
  width: 100%;         /* span full width */
  z-index: 9999;       /* ensure it stays above other blocks */
}

/* Push the gallery block down */
#rec1615413633 {
  padding-top: 200px !important;   /* match the height of the logo strip */
}
