/*-- SECONDARY PAGES. HEADER WITH LOGO. FIXES ITS POSITION ON TOP AND PLACES THE SLIDER PERFECTLY INDERNEATH --*/
.uc-header-secondpages {
  position: fixed;     /* lock it relative to the viewport */
  top: 0;              /* stick to the very top */
  left: 0;
  width: 100%;         /* span full width */
  z-index: 9999;       /* ensure it stays above other blocks */
}

.uc-header-secondpages-slider {
  padding-top: 200px !important;   /* match the height of the logo strip */
}
