.news-box {
  width: 100%;
  overflow: hidden;
  background: #111;
  color: #fff;
  padding: 10px 0;
  font-family: sans-serif;
  border-top: 0px solid #444;
  border-bottom: 0px solid #444;
  position: relative;
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 30s linear infinite;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.marquee::after {
  content: attr(data-text);
  padding-left: 2rem;
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/*-- STOP SCROLL ON HOVER --*/
.news-box:hover .marquee,
.marquee:hover {
  animation-play-state: paused;
}
