.news-box {
  width: 100%;
  overflow: hidden;
  background: #111;
  color: #fff;
  padding: 10px 0;
  font-family: sans-serif;
  border-top: 0px solid #444;
  border-bottom: 0px solid #444;
  position: relative;
}

.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  padding-left: 0;
  animation: marquee 22s linear infinite;
  font-size: 18px;
  letter-spacing: 0.5px;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
