/* SLIDER FIRST ROW lEFT-TO-RIGHT */
#rec1574665663 {
  transform: rotate(180deg) !important;
  pointer-events: none !important;
  user-select: none !important;
}

#rec1574665663 img {
  transform: rotate(180deg) !important;
  pointer-events: none !important;
  user-select: none !important;
}

##rec1574666313 {
  pointer-events: none !important;
  user-select: none !important;
}

##rec1574666313 img {
  pointer-events: none !important;
  user-select: none !important;
}
