.heroimage {
  background-image: url('https://static.tildacdn.com/tild6230-6436-4762-a131-343538303031/04.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 600px;
  position: relative;
  display:  flex;
  align-items: center;
  justify-content: center;
}
