.hero-overlay {
  padding: 2rem;
  line-height: 1;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  z-index: 1;
}

/* General paragraph reset */
.hero-overlay p {
  margin: 0;
}

/* Individual playbill lines */
.hero-overlay .heroLine1,
.hero-overlay .heroLine2 {
  font-size: 36px;
  margin-bottom: 3px;
}

.hero-overlay .heroLine4,
.hero-overlay .heroLine5,
.hero-overlay .heroLine6,
.hero-overlay .heroLine7 {
  font-size: 60px;
  margin-bottom: 3px;
}

.hero-overlay .heroLine2 {
  margin-bottom: 60px;
}

.hero-overlay .heroLine3 {
  font-size: 120px; /* Main headline */
  margin-bottom: 20px;
}

.hero-overlay .heroLine4 {
  margin-bottom: 70px;
}

/* Button container below playbill text */
.hero-overlay .button-container {
  margin-top: 30px;
}

/* Buttons for INFO / RSVP */
.hero-overlay .button {
  display: inline-block;
  font-size: 36px;
  background-color: transparent;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border: 0px solid white;
  border-radius: 0rem;
  transition: background-color 0.3s, color 0.3s;
}

.hero-overlay .button:hover {
  background-color: black;
  color: #1a202c;
}
