<style>
/*-- Main SECTION AND FORM headers --*/
h1 {
    font-size: 82px !important;
    line-height: 1.17 !important;
    font-family: 'Bebas Neue' !important;
    letter-spacing: 4px !important;
    color: #c9c9c9 !important;
}
/*-- Intro text under the SECTION headers --*/
.t-text_md {
    font-size: 18px !important;
}
/*-- Text under the FORM header --*/
.t050__descr .t-descr .t-descr_xxl {
    font-size: 16px !important;
    line-height: 1.55 !important;
}

/*-- Smaller texts such as those in the Bar & Beyond section under Signature Cocktails --*/
.t-card__descr .t-descr . t-descr_sm {
    font-size: 16px !important;
}
    
</style>
