<style>

h1 {
    font-size: 82px !important;
    line-height: 1.17 !important;
    font-family: 'Bebas Neue' !important;
    letter-spacing: 4px !important;
    color: #c9c9c9 !important;
}




.t-text_md {
    font-size: 18px !important;
}
    
</style>
