.t-title_xxl {
    font-size: 82px;
    line-height: 1.17;
    font-family: 'Bebas Neue';
    letter-spacing: 4px;
    color: #c9c9c9;
}

h1 {
    font-size: 82px;
    line-height: 1.17;
    font-family: 'Bebas Neue';
    letter-spacing: 4px;
    color: #c9c9c9;
}

